<div class="main">
    <div class="box">
      <div class="inner-box">
        <div class="img"></div>
        <div class="forms-wrap">
          <form (ngSubmit)="submitForm()" class="login-form">
            <div class="logo">
              <img src="assets/images/logo.png" alt="Logo inmarket">
            </div>
            <div class="heading">
              <h2>Inicia sesión</h2>
              <h6>¿Olvidaste tu contraseña?</h6>
              <a [routerLink]="['/resetPassword']" class="toggle">¡Restablécela!</a>
            </div>
            <div class="actual-form">
              <div class="input-wrap">
                <input class="input-field" [(ngModel)]="per_password" name="per_password"
                  [type]="showPassword ? 'text' : 'password'"
                  [ngClass]="{ 'active': isActive('per_password') || per_password.length > 0 }"
                  (focus)="activateField('per_password')" (blur)="deactivateField('per_password')" required>
                <label class="label" [ngClass]="{ 'has-content': per_password.length > 0 }">
                  Nueva contraseña
                </label>
                <i class="bi eye-btn" [class]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
                  (click)="togglePasswordVisibility()"></i>
              </div>
              <div class="input-wrap">
                <input class="input-field" [(ngModel)]="per_password2" name="per_password"
                  [type]="showPassword ? 'text' : 'password'"
                  [ngClass]="{ 'active': isActive('per_password2') || per_password2.length > 0 }"
                  (focus)="activateField('per_password2')" (blur)="deactivateField('per_password')" required>
                <label class="label" [ngClass]="{ 'has-content': per_password2.length > 0 }">
                  Confirmar contraseña
                </label>
                <i class="bi eye-btn" [class]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
                  (click)="togglePasswordVisibility()"></i>
              </div>
              <input type="submit" [routerLink]="['/solicitudes']" class="login-btn" value="Inicia sesión" >
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
  