<app-search-suppliers (searchEvent)="filterSuppliers($event)"></app-search-suppliers>
<div class="container-box">
  <main class="table" id="customers_table">
    <section class="table-header">
      <h1>Proveedores</h1>
      <button (click)="openModal()" class="add-btn"><i class="bi bi-plus-circle"></i>Agregar</button>
    </section>
    <section class="table-body">
      <table>
        <thead>
          <tr>
            <th>Nombre del Proveedor</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supplier of filteredSuppliers">
            <td>{{ supplier.sup_name }}</td>
            <td>
              <button (click)="editSupplier(supplier.sup_id)" class="edit-btn">
                <i class="bi bi-pencil-square"></i>
              </button>
            </td>
            <td>
              <button (click)="confirmDeleteSupplier(supplier.sup_id)" class="delete-btn">
                <i class="bi bi-trash3-fill"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>
</div>

<!-- Modal para agregar/editar proveedor -->
<div class="modal" [ngClass]="{'show': showModal}" (click)="closeModal()">
  <div class="modal-content large" (click)="$event.stopPropagation()">
    <h2>{{ isEditMode ? 'Editar Proveedor' : 'Agregar Proveedor' }}</h2>
    <form #supplierForm="ngForm" (ngSubmit)="onSubmitForm()">
      <div class="modal-div">
        <label for="sup_name">Nombre del proveedor:</label>
        <input type="text" id="sup_name" [(ngModel)]="currentSupplier.sup_name" name="sup_name" required>
      </div>

      <div class="modal-btn">
        <button class="btn" type="submit" [disabled]="supplierForm.invalid">
          <i class="bi bi-plus-circle"></i>{{ isEditMode ? 'Actualizar' : 'Crear' }}
        </button>
        <button class="btn" (click)="closeModal()" type="button">
          <i class="bi bi-x-circle"></i>Cerrar
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Modal para confirmación de eliminación -->
<div class="modal" [ngClass]="{'show': showDeleteModal}" (click)="closeDeleteModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Eliminar Proveedor</h2>
    <div class="modal-delete">
      <p>¿Estás seguro/a de que deseas eliminar este proveedor? No podrás deshacer esta acción.</p>
      <div class="modal-btn">
        <button class="btn" (click)="supplierToDelete !== null && deleteSupplier(supplierToDelete)" type="button">Eliminar</button>
        <button class="btn" (click)="closeDeleteModal()" type="button">Cancelar</button>
      </div>
    </div>
  </div>
</div>
