<app-toolbar></app-toolbar><div class="container-box">
    <main class="table" id="customers_table">
      <section class="table-header">
          <h1>Áreas</h1>
              <button class="add-btn"><i class="bi bi-plus-circle"></i>Agregar</button>
      </section>
      <section class="table-body">
          <table>
              <thead>
                <tr>
                    <th> Id</th>
                    <th> Nombre</th>
                    <th> Presupuesto</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let area of areas">
                    <td>{{ area.are_id }}</td>
                    <td>{{ area.are_name }}</td>
                    <td>{{ area.are_limit }}</td>
                    <td>
                      <button (click)="editArea(area.are_id)" class="edit-btn"><i class="bi bi-pencil-square"></i></button>
                    </td>
                    <td>
                      <button (click)="deleteArea(area.are_id)" class="delete-btn"><i class="bi bi-trash3-fill"></i></button>
                    </td>
                  </tr>
              </tbody>
          </table>
      </section>
  </main>
  </div>
  