.toolbar{
    width: calc(100% - 5rem);
    margin-left: 5rem;
    z-index: 1;
    transition: all .5s ease color transparent;
    padding: 1rem 1.5rem 0 1.5rem;
    position: fixed;
    background-color: #EAE9E9;
    top: 0;
}

.tool-content{
    height: 4rem;
    background-color: whitesmoke;
    border-radius: 0.625rem;
    box-shadow: 0 0 10px 0 #22292f1a;
    padding: 0 3.563rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-container{
    position: relative;
}

.searcher{
    border: none;
    height: 2.375rem;
    padding-left: 2.5rem;
    padding-right: 40.5rem;
    margin-right: 2rem;
    background-color: #e8e8e8;
    box-shadow: none;
    border-radius: 1.875rem;
    outline: 0;
}

.search i{
    position: absolute;
    font-size: 1rem;
    line-height: 2.375rem;
    left: 0.813rem;
    top: 0;
    color: #0084C2;
}

.content-right{
    display: flex;
    align-items: center;
}

.tool-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.25rem;
}

.menu-btn{
    font-size: 18px;
    height: 42px;
    width: 42px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-left: 7px;
    outline: 0;
    background-color: #023059;
    color: white;
}

.menu-btn:hover,
.menu-btn:focus{
    background-color: #0084C2;
    color: white;
}

.tool-timmed{
    width: calc(100% - 15.5625rem);
    margin-left: 16.5625rem;
}

.tool-timmed .tool-content{
    padding: 0 3em;
}

.tool-timmed .searcher{
    padding-right: 30rem;
}

.tool-md-screen{
    width: calc(100% - 5rem);
    margin-left: 5rem;
}

.full-body{
    display: none;
}