<div class="toolbar" [ngClass]="getToolbarClass()">
    <div class="tool-content">
        <div class="content-left">
            <div class="search-container">
                <div class="search">
                    <input type="search" class="searcher" name="" id=""
                    placeholder="Buscar..."><i class="bi-search"></i>
                </div>  
            </div>
        </div>
        <div class="content-right"> 
            <div class="tool-menu">
                <div class="menu-item">
                    <button class="menu-btn ripple" [routerLink]="['/notifications']">
                        <i class="bi-bell menu-icon"></i>
                    </button>
                </div>
                <div class="tool-menu">
                    <div class="menu-item">
                        <button class="menu-btn ripple" routerLink="">
                            <i class="bi bi-person-circle"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

