<div class="container-box">
    <main class="table" id="customers_table">
      <section class="table-header">
          <h1>Divisas</h1>
              <button class="add-btn"><i class="bi bi-plus-circle"></i>Agregar</button>
      </section>
      <section class="table-body">
          <table>
              <thead>
                <tr>
                    <th> Id</th>
                    <th> Nombre</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let currency of currencies">
                    <td>{{ currency.cur_id }}</td>
                    <td>{{ currency.cur_name }}</td>
                    <td>
                      <button class="edit-btn" (click)="editCurrency(currency.cur_id)">
                        <i class="bi bi-pencil-square"></i>
                      </button>
                    </td>
                    <td>
                      <button class="delete-btn" (click)="deleteCurrency(currency.cur_id)">
                        <i class="bi bi-trash3-fill"></i>
                      </button>
                    </td>
                </tr>
              </tbody>
          </table>
      </section>
  </main>
  </div>
  