<div class="container-box" *ngFor="let item of news">
    <div class="notification">
        <h1>Fecha: {{ item.new_date | date }}</h1>
        <h2>Nueva solicitud</h2>
        <p>{{ item.new_description }}</p>
        
        <p><strong>Estado:</strong> {{ item.new_status }}</p>
        <p><strong>Persona:</strong> {{ item.Person.per_name }}</p>
        <p *ngIf="item.Solicitation"><strong>Solicitud ID:</strong> {{ item.Solicitation.sol_id }}</p>
        <p *ngIf="item.Solicitation"><strong>Descripción de la Solicitud:</strong> {{ item.Solicitation.sol_description }}</p>
        <p *ngIf="item.Solicitation"><strong>Estado de la Solicitud:</strong> {{ item.Solicitation.sol_status }}</p>
    </div>
</div>
