<div class="container-box">
    <main class="table" id="customers_table">
      <section class="table-header">
          <h1>Proveedores</h1>
              <button class="add-btn"><i class="bi bi-plus-circle"></i>Agregar</button>
      </section>
      <section class="table-body">
          <table>
              <thead>
                <tr>
                    <th> Id</th>
                    <th> Nombre</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let supplier of suppliers">
                    <td>{{ supplier.sup_id }}</td>
                    <td>{{ supplier.sup_name }}</td>
                    <td>
                      <button (click)="editSupplier(supplier.sup_id)" class="edit-btn">
                        <i class="bi bi-pencil-square"></i>
                      </button>
                    </td>
                    <td>
                      <button (click)="deleteSupplier(supplier.sup_id)" class="delete-btn">
                        <i class="bi bi-trash3-fill"></i>
                      </button>
                    </td>
                  </tr>
              </tbody>
          </table>
      </section>
  </main>
  </div>
  