<div class="container-box">
  <main class="table" id="customers_table">
    <section class="table-header">
        <h1>Solicitudes</h1>
            <button class="add-btn"><i class="bi bi-plus-circle"></i>Agregar</button>
    </section>
    <section class="table-body">
        <table>
            <thead>
                <tr>
                    <th> Id</th>
                    <th> Solicitante</th>
                    <th> Solicitud</th>
                    <th> Proveedor</th>
                    <th> Estado </th>
                    <th> Costo</th>
                    <th> Descripción</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let solicitation of solicitations">
                  <td>{{ solicitation.sol_id }}</td>
                  <td>{{ solicitation.per_id }}</td>
                  <td>{{ solicitation.typ_sol_id }}</td>
                  <td>{{ solicitation.sup_id }}</td>
                  <td>
                    <p [ngClass]="{
                      'status review': solicitation.sol_status === 0,
                      'status denied': solicitation.sol_status === 1,
                      'status pre-approved': solicitation.sol_status === 2,
                      'status approved': solicitation.sol_status === 3
                    }">
                      {{ solicitation.sol_status }}
                    </p>
                  </td>
                  <td><strong>{{ solicitation.sol_cost | currency }}</strong></td>
                  <td>{{ solicitation.sol_description }}</td>
                  <td><button class="edit-btn"><i class="bi bi-pencil-square"></i></button></td>
                  <td><button (click)="deleteSolicitation(solicitation.sol_id)" class="delete-btn"><i class="bi bi-trash3-fill"></i></button></td>
                </tr>
            </tbody>
        </table>
    </section>
</main>
</div>
